<% console.log('!excepts.includes(attr):', !excepts.includes(attr)) %>
<% console.log('(attr):', attr) %>
<% if( !excepts.includes(attr) )  { %>
    <li> 
        <%= translation(attr) %>: <%= translation(value) %> </li>
    <% } %>
    